spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/electro_map
    username: bannournefzi
    password: bannour123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  mail:
    host: localhost
    port: 2025
    username: ""
    password: ""
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000

application:
  security:
    jwt:
      secret-key: WU9VUlNFQ1JFVEtFWU1VU1RCRUJBU0U2NEJJVFNFQ1JFVA==
      expiration: 3600000
  mailing:
    frontend:
      activation-url: http://localhost:4200/activate-account

server:
  port: 8088
